.main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  color: #fff;
}

#coming-soon.main {
  height: 100vh;
}

.footer {
  position: absolute;
  width: 100%;
  bottom: 0px;
}
