/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* common resets for a, li */
a {
  text-decoration: none;
  cursor: pointer;
}

li {
  list-style-type: none;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url("./assets/images/background/landing_bg2.png"),
    url("./assets/images//background/landing_bg.png"),
    radial-gradient(
      50% 50% at 50% 50%,
      rgba(17, 18, 21, 0.8) 0%,
      rgba(17, 18, 21, 1) 100%
    );
  /* background: url("./assets/images/background/landing_bg2.png"),
    url("./assets/images/background/landing_bg.png"),
    radial-gradient(
      50% 50% at 50% 50%,
      rgba(17, 18, 21, 0.6) 0%,
      rgba(17, 18, 21, 1) 100%
    ); */
  background-blend-mode: screen, darken;
  background-size: 100% 100%;
  background-position: center center;
  background-origin: border-box;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@media only screen and (min-width: 700px) {
  body {
    background: url("./assets/images/background/landing_bg2.png"),
      url("./assets/images/background/landing_bg.png"),
      radial-gradient(
        50% 50% at 50% 50%,
        rgba(17, 18, 21, 1) 0%,
        rgba(17, 18, 21, 1) 100%
      );
    background-blend-mode: darken, screen;
  }
}
